/node_modules
/public/storage
Homestead.yaml
Homestead.json
config/key
.env
.idea
.idea/
vendor

*.iml
_ide_helper.php
.env.example
.phpcomplete_extended/
cron.txt
resources/views/errors/404.blade.php
.phpintel/
.phpintel


